<div class="container">
  <br />
  <h1 class="title has-text-centered">Dashboard for user <%= email %></h1>
  <br />

  <div class="columns is-centered">
    <form
      class="form has-text-centered is-inline mx-1"
      method="get"
      action="/support-admin"
    >
      <button class="button is-info is-outlined mt-1" type="submit">
        Go to support
      </button>
    </form>
    <form
      class="form has-text-centered is-inline mx-1"
      method="post"
      action="/dashboard/delete"
    >
      <button class="button is-info is-outlined mt-1" type="submit">
        Delete user
      </button>
    </form>
  </div>
</div>
<br /><br />

<div>
  <table class="table is-bordered is-hoverable">
    <thead>
      <th>Email</th>
      <th>Password</th>
      <th>User ref</th>
      <th>User level</th>
    </thead>
    <!-- Table data taking the stored data and sorting it with forEach and displaying based on the parameter and the corresponding database colomn name -->
    <tr>
      <% display.forEach(result => { %>
      <td><%= result.email %></td>
      <td><%= result.password %></td>
      <td><%= result.user_ref %></td>
      <td><%= result.user_level %></td>
      <td>
        <form method="post" action="/dashboard/delete/<%= result.user_ref %>">
          <button class="button" type="submit">Delete this account</button>
        </form>
      </td>
    </tr>
    <% }) %>
  </table>
</div>
<br /><br /><br />
