<div class="container">
  <br />
  <h1 class="title">Dashboard for user <%= email %></h1>
  <br />
</div>
<form class="form has-text-centered" method="post" action="/dashboard/delete">
  <button class="button is-info is-outlined mt-1" type="submit">
    Delete user
  </button>
</form>
<div class="container">
  <% if (userLevel === "user") { %>
  <p>You're a standard user</p>
  <% } %> <% if (userLevel === "admin") { %>
  <p>You're an admin</p>
  <% } %>
</div>
<br />
<br /><br />
<!-- <div class="columns is-multiline">
  <% display.forEach(function(result){ %>
  <div class="column">
    <div class="box py-3"><%= result.email %></div>
    <div class="box py-3"><%= result.password %></div>
    <div class="box py-3"><%= result.user_ref %></div>
    <div class="box py-3"><%= result.user_level %></div>
    <hr />
  </div>

  <% }) %>
</div> -->

<div>
  <table class="table is-bordered is-hoverable">
    <thead>
      <th>Email</th>
      <th>Password</th>
      <th>User ref</th>
      <th>User level</th>
    </thead>
    <!-- Table data taking the stored data and sorting it with forEach and displaying based on the parameter and the corresponding database colomn name -->
    <tr>
      <% display.forEach(function(result){ %>
      <td><%= result.email %></td>
      <td><%= result.password %></td>
      <td><%= result.user_ref %></td>
      <td><%= result.user_level %></td>
    </tr>
    <% }) %>
  </table>
</div>
<br /><br /><br />
